@charset "utf-8";

/* CSS Document */

body {
    background-color: #cee7e8;
    padding: 0px;
    margin: 0px;
    font-family: "微軟正黑體",arial, "Microsoft JhengHei", sans-serif !important;
}

p {
    line-height: 200%;
}

img {
    width: 80%;
    height: auto;
    /* margin: 0.5em 0 0.5em 10%; */
}

#CP {
    background-color: #FFFFFF;
    max-width: 1100px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    box-shadow: 0px 0 30px 0 #99a7b4;
    -webkit-box-shadow: 0px 0 30px 0 #99a7b4;
}

#inner {
    padding: 1em 6em 2em 6em;
    font-size: 17px;
}

#label {
    width: 150px;
    height: 60px;
    background: #1c456d;
    -webkit-clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);
}

.part {
    /* margin-bottom: 4em; */
    font-size: 18pt;
}

.img_top {
    width: 100%;
    margin: auto;
}

.title_top {
    color: #CB493C;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    line-height: 180%;
}

.bar_1A,
.bar_1B {
    height: 3em;
    margin-bottom: 3em;
    display: block;
    position: relative;
}

.bar_2A,
.bar_2B {
    height: 5.6em;
    margin-bottom: 3em;
}

.block1A,
.block1B {
    height: 100%;
    width: 1em;
    background-color: rgba(236, 196, 130, 1.00);
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 1em;
    margin-bottom: -3.5em;
}

.block2A,
.block2B {
    height: 100%;
    width: 1em;
    background-color: rgba(236, 196, 130, 1.00);
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 1em;
    margin-bottom: -6em;
}

.txt_1 {
    color: #CB493C;
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    text-align: left;
    line-height: 180%;
}

.txt_2 {
    font-size: 20px;
}

.mark {
    font-weight: bold;
    color: #F19402;
}

.img_s {
    width: 65%;
    margin-left: 17.5%;
}

#Wpic {
    float: left;
}

#W_left {
    width: 62.1% !important;
    margin-right: 1.4%;
    margin-left: 0;
}

#W_right {
    width: 35.1% !important;
    margin-left: 1.4%
}

.last_part {
    margin-bottom: 6em;
    font-size: 50px;
}

@media screen and (max-width: 600px) {
    .last_part {
        font-size: 30px;
    }
}

#link {
    font-size: 1.5em;
    font-weight: bold;
}

#memo {
    font-size: 14px;
    color: #868686;
    font-weight: normal;
}

#foot {
    margin-top: 50px;
}

#foot>p {
    font-size: 25px;
    margin-bottom: 0px;
}

#other_l {
    width: 48%;
    height: auto;
    display: block;
    float: left;
    text-align: center;
    margin-right: 2%;
}

#other_r {
    width: 48%;
    height: auto;
    display: inline-block;
    text-align: center;
    margin-left: 2%;
}

a {
    color: #1852AA;
}

a:hover {
    color: #6495D0;
}

.clear {
    clear: both;
}


/**RWD**/

@media screen and (max-width: 1200px) {
    #inner {
        padding: 1em 4em 2em 4em;
    }
}

@media screen and (max-width: 950px) {
    #inner {
        padding: 1em 2em 2em 2em;
    }
    #label {
        height: 55px;
    }
}

@media screen and (max-width: 950px) {}

@media screen and (max-width: 745px) {
    .txt_1 {
        font-size: 1.4em;
    }
    .part {
        margin-bottom: 2em;
        font-size: 14;
    }
    .block1A,
    .block1B,
    .block2A,
    .block2B {
        width: 2%;
    }
    img {
        width: 100%;
        margin: 0;
    }
    .img_s {
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 680px) {
    #inner {
        font-size: 16px;
    }
    .bar_1A,
    .bar_2A {
        height: 4.5em;
    }
    .block1A,
    .block2A {
        margin-bottom: -5.2em;
    }
    .bar_1B {
        height: 2.2em;
    }
    .block1B {
        margin-bottom: -2.8em;
    }
    .bar_2B {
        height: 7em;
    }
    .block2B {
        margin-bottom: -7.5em;
    }
}

@media screen and (max-width: 670px) {
    #date {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .txt_1,
    #link {
        font-size: 1.3em;
    }
    #inner {
        padding: 0.5em 1.3em 2em 1.3em;
    }
    .bar_1A,
    .bar_2A {
        height: 4em;
    }
    .block1A,
    .block2A {
        margin-bottom: -4.6em;
    }
    .bar_1B {
        height: 2.2em;
    }
    .block1B {
        margin-bottom: -2.8em;
    }
    .bar_2B {
        height: 6.4em;
    }
    .block2B {
        margin-bottom: -6.9em;
    }
    #label {
        height: 50px;
    }
}

@media screen and (max-width: 570px) {
    #label {
        height: 50px;
    }
    .bar_2A {
        height: 6.4em;
    }
    .block2A {
        margin-bottom: -6.9em;
    }
    .part {
        margin-bottom: 2em;
        font-size: 14pt;
    }
}

@media screen and (max-width: 450px) {
    #inner {
        padding: 0em 1.3em 2em 1.3em;
    }
    .txt_1,
    #link {
        font-size: 1.3em;
        line-height: 160%;
    }
    #label {
        width: 120px;
        height: 45px;
    }
    .bar_1A {
        height: 3.8em;
    }
    .block1A {
        margin-bottom: -4.4em;
    }
    .bar_2A {
        height: 6em;
    }
    .block2A {
        margin-bottom: -6.5em;
    }
    .bar_2B {
        height: 6em;
    }
    .block2B {
        margin-bottom: -6.6em;
    }
    .part {
        margin-bottom: 2em;
        font-size: 14pt;
    }
}

@media screen and (max-width: 320px) {
    #inner {
        padding: 0em 1.3em 2em 1.3em;
    }
    .txt_1,
    #link {
        margin-right: 0.4em;
        font-size: 1.3em;
        line-height: 160%;
    }
    #label {
        width: 120px;
        height: 45px;
    }
    .bar_1A {
        height: 5em;
    }
    .block1A {
        margin-bottom: -6em;
    }
    .bar_2A {
        height: 9em;
    }
    .block2A {
        margin-bottom: -10em;
    }
    .bar_2B {
        height: 9em;
    }
    .block2B {
        margin-bottom: -10em;
    }
    .part {
        margin-bottom: 2em;
        font-size: 14pt;
    }
}
